{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "PROJECT_ENDPOINT": "https://<Foundry service name>.services.ai.azure.com/api/projects/<Project name>",
    "BING_RESOURCE_NAME": "bingrag",
    "DEEP_RESEARCH_MODEL_DEPLOYMENT_NAME": "o3-deep-research",
    "MODEL_DEPLOYMENT_NAME": "gpt-4.1",
    "AZURE_AI_PROJECT_CONNECTION_STRING": "ProjectEndpoint=https://<Foundry service name>.services.ai.azure.com/api/projects/<Project name>;DefaultAzureCredential"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
